# Visual Studio
.vs/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
